<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sales Manager Application</title>
</head>
<body>
<div>
    <a href="/warehouse">Склады</a>
    <a href="/consignment/in">Приходные накладные</a>
    <a href="/consignment/out">Списание</a>
    <a href="/remains">Остатки</a>
</div>
<div align="center">
    <h1>Склады</h1>
    <a href="/warehouse/new">Enter New Sale</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название склада</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warehouse : ${list}">
            <td th:text="${warehouse.id}">ID</td>
            <td th:text="${warehouse.name}">Item Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>