<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>New Sale</title>
</head>
<body>
<div align="center">
  <h1>списания блюда</h1>
  <br />
  <form action="#" th:action="@{/dish/save-cancellation}" th:object="${dish}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>Блюдо:</td>
        <td>
          <select th:field="*{dishId}">
            <option value="0">select operator</option>
            <option th:each="dishe : ${dishList}" th:value="${dishe.id}"
                    th:text="${dishe.name}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Кол-во:</td>
        <td><input type="text" th:field="*{count}" /></td>
      </tr>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Списать</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>