<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>New Sale</title>
</head>
<body>
<div align="center">
    <h1>Новое блюдо</h1>
    <br />
    <form action="#" th:action="@{/dish/add-dish}" th:object="${dish}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Название:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Состав:</td>
                <td>

                    <!--/*@thymesVar id="id" type="java.lang.Long"*/-->
                    <select th:field="*{productDTO}" multiple="multiple">
                        <!--/*@thymesVar id="drivers" type="java.util.List<stanislav.tun.novinomad.picasso.persistance.pojos.Driver>"*/-->
                        <option th:each="products : ${products}" th:value="${products.article}" th:text="${products.name}" >

                        </option>
                    </select>

                </td>
            </tr>


            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>