<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sales Manager Application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div align="center" class="shadow p-2 mb-3 bg-body rounded">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/warehouse" class="nav-link" aria-current="page">Склады</a></li>
                <li class="nav-item"><a href="/consignment/in" class="nav-link active">Приходные накладные</a></li>
                <li class="nav-item"><a href="/consignment/out" class="nav-link">Списание</a></li>
                <li class="nav-item"><a href="/dish" class="nav-link">Блюда</a></li>
                <li class="nav-item"><a href="/remains" class="nav-link">Остатки</a></li>
            </ul>
        </header>
    </div>
</div>
<div align="center">

    <a href="/consignment/new">Создать накладную</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Номер накладной</th>
            <th>Артикул</th>
            <th>Продукт</th>
            <th>Кол-во</th>
            <th>Цена за шт</th>
            <th>Цена за все</th>
            <th>Поставщик</th>
            <th>Ответственный</th>
            <th>Дата поставки</th>
            <th>Годен до</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consignment : ${list}">
            <td th:text="${consignment.id}">ID</td>
            <td th:text="${consignment.article}">Item Name</td>
            <td th:text="${consignment.productName}">Item Name</td>
            <td th:text="${consignment.quantity}">Item Name</td>
            <td th:text="${consignment.price}">Item Name</td>
            <td th:text="${consignment.totalPrice}">Item Name</td>
            <td th:text="${consignment.organizationName}">Item Name</td>
            <td th:text="${consignment.responsible}">Item Name</td>
            <td th:text="${consignment.comeInDate}">Item Name</td>
            <td th:text="${consignment.expirationDate}">Item Name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>